#myPara{
    display: flex;
    align-items: center;
    justify-content: center;
    border : 2px solid red;
    border-radius: 10px;
    height: 100px;
    width: 80vw;
    padding: 8px;
    margin: auto;
}