*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.textArea{
    color: red;
    margin: 10px 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}
.btnn{
    margin: 10px 10px;
}
.myBtns{
    display: inline;
}